.keyboard {
  display: block;
  margin: auto;
  width: 930px;
  border: 2px solid #000;
  padding: 5px;

  &::after {
    content: "";
    display: block;
    clear: both;
  }
}
.key {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  margin: 3px;
  padding: 3px;
  float: left;
  &.active {
    background-color: blue;
  }
  &[data-key="F4"],
  &[data-key="F8"],
  &[data-key="Escape"] {
    margin-right: 34px;
  }

  &[data-key="Tab"] {
    width: 80px;
  }
  &[data-key="CapsLock"] {
    width: 90px;
  }
  &[data-key="Backspace"] {
    width: 80px;
  }
  &[data-key="Enter"] {
    width: 105px;
  }
  &[data-key="Shift"] {
    width: 129px;
  }
  &[data-key=" "] {
    width: 592px;
  }
}
.textarea {
  resize: none;
  width: 930px;
  min-height: 200px;
  height: auto;
  margin: 0 auto;
  display: block;
}
